<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/file1.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Peeyush Singh.It uses data from mapbox.com and darksy.net!</p>
        <img class="portrait" src="/img/file1.png" alt="">
    </div>

    {{>footer}}
</body>
</html>